
.idea/*

*.mp4

portfolio_main/projects/franklin/img/franklin_header_gross.png

prepros-6.config

portfolio_main/fonts/*
portfolio_main/projects/birthrates/img/birthrates_small0_backup.jpg

portfolio_main/projects/franklin/img/franklin_small0_backup.jpg

portfolio_main/google4add27e48244e909.html
.DS_Store
