:root {
    --color-main: #32a1ed;
    --color-background: #f5f1df;
    --color-text: #040404;
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
}

.active {
    border-bottom: 3px solid var(--color-main);
}

h3 {
    color: var(--color-main);
}

.useCaseExample {
    color: var(--color-text);
}

/*footer: special*/

.special {
    color: var(--color-main);
}

#contact {
    color: var(--color-text);
}

a:hover {
    color: var(--color-text);
}

#otherProjects {
    color: var(--color-text);
}
