@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
    --headline-size: 4.5vmax;
    --projectShadows: 0px 0px 35px 10px rgba(0, 0, 0, 0.35);;
    --menucolor: dodgerblue;
}

html {
    background-color: #f9f9f9;
    font-family: SofiaPro, sans-serif;
}

* {
    border: 0;
    margin: 0;
}
/*TODO: test für font weight in tagline und contact*/
h1 {
    font-weight: bold;
}

.wrapper {
    margin: 0 5% 0 5%;
}

.wideWrapper {
    margin: 0 5% 0 5%;
}

.articleWrapper {
    /*margin: 10% 28% 10% 28%;*/
    margin: 0 5% 0 5%;
}

.menu {
    padding-top: 32px;
    font-family: SofiaPro, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    display: block;
}

.menu a {
    color: var(--menucolor);
}

.left {
    margin-right: 20px;
    float: left;
}
.right {
    margin-left: 20px;
    float: right;
}

.wideImg {
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: var(--projectShadows);
}

h2 {
    margin-top: 1%;
    font-size: 34pt;
}

.centered {
    /*max-width: 1280px;*/
    margin: auto;
}

.splashImg {
    height: 98vh;
}

#tagline {
    color: black;
    position: absolute;
    font-size: 4vmax;
    line-height: 120%;
    margin: 12% 0 0 0;
}

#taglineMain {
    /*text-decoration: underline;*/

}

/*
p span {
    border-bottom: solid 1px;
}
*/

.work {
    height: auto;

}
.projects {
    /*background-color: lightblue;*/
    /*margin: 0 5% 0 5%;*/
}

.gridtest {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5vw;
    margin-bottom: 65px;
}
.box {
    background-color: lightpink;
    height: 40vw;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 40px rgba(0,0,0,0.30);
    /*Boxes are 990 * 768px at most */
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.description, h2{
    max-width: 360px;
}

.box:hover {
    transform: scale(0.98);
}



.box h2 {
    max-height: 80%;
    margin: 4vmax 2.5vmax 0 2vmax;
    font-size: var(--headline-size);
    font-weight: bold;
    line-height: 106%;
}

.description {
    margin: 2vmax 2.5vmax 0 2vmax;
    font-family: "Open Sans", sans-serif;

}

.course {
    position: absolute;
    max-width: inherit;
    margin: 0 0 0 2vmax;
    bottom: 1.8vmax;
    font-style: inherit;
    font-size: 1.5vmax;
    font-weight: bold;
    letter-spacing: 0.01em;
}
.g {
    grid-column: 1 / 4;
    background: url("../projects/wires/img/wires_start.jpg") top right;
    background-size: cover;
}

.f {
     grid-column: 4 / 6;
     background: url("../projects/hfg-emoji/img/emoji_start_5.png") top center;
     background-size: cover;
}

.e {
    grid-column: 1 / 3;
    background: url("../projects/gestures/img/gestures_start.png") top right;
    background-size: cover;
}

.d {
    grid-column: 3 / 6;
    background: url("../projects/library/img/library_start.jpg") top left;
    background-size: cover;
}

.c {
    grid-column: 1 / 4;
    background: url("../projects/aralsea/img/aralsea_start.jpg") top right;
    background-size: cover;
}

.b {
    grid-column: 4 / 6;
    background: url("../projects/birthrates/img/birthrates_start.png") top right;
    background-size: cover;
}

.a {
    grid-column: 1 / 3;
    background: url("../projects/franklin/img/franklin_start_3.jpg") top right;
    background-size: cover;
}

.white {
    color: white;
 }

.black {
    color: black;
}

.linkhelper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.vita {
    margin: 100px 0 0 0;
    padding-top: 100px;
    /*background-color: #ffffff;*/
}

.innerWrapper {
    width: auto;
    margin: 0 5% 0 5%;
}

#vita_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
}

.vitaParagraph {
    font-family: "Open Sans", sans-serif;
}

h3 {
    margin: 1em 0 0.5em 0;
    font-size: 18pt;
    color: var(--menucolor);
}

.column {

}

.vita img {
    margin: 100px 0 100px 0;
    width: 100%;
    height: auto;
}

b {
    font-weight: 700;
}

#contact {
    padding-top: 50px;
    height: 40vh;
    color: black;
    /*Ansonsten kursiv wegen adress*/
    font-style: normal;
}

#contact h2 {
    /*margin: 0 7% 0 7%;*/
    text-decoration: none;
    font-size: 3.8vmax;
    font-weight: bold;
    line-height: 115%;
}

a {
    /*color: #456eff;*/
    color: dodgerblue;
    text-decoration: none;
    transition: color 400ms;

}
a .special {  }

a:hover {
    color: black;
}

.makeItBlack {
    /*or not*/
    background-color: inherit;
}

h2 {
   max-width: none;
}

footer {
    max-font-size: 16pt;
    height: 80px;
}

footer p {
    padding-top: 32px;
    color: black;
    font-size: 11pt;
    font-weight: normal;
}

footer a {
    color: black;
}

footer a:hover {
    color: var(--menucolor);
}

sup {
    line-height: 0;
}


/*-----------------------------------------*/
@media screen and (max-width: 500px){
    .gridtest {
        grid-template-columns: 1fr;
        background-color: white;
        grid-row-gap: 65px;
    }

    #tagline {
        margin-top: 10vh;
    }

    .articleWrapper {
        margin: 0 5% 0 5%;
    }

    .box {
        grid-column: 1;
        height: 106vw;
    }

    .box h2 {
        margin: 5vmax 4vmax 0 4vmax;
    }

    .description {
        margin: 2vmax 4vmax 0 4vmax;
    }

    .course {
        margin: 0 4vmax 0 4vmax;
        bottom: 4vmax;
        font-style: inherit;
        font-size: 2.5vmax;
    }

    #vita_text {
        grid-template-columns: 1fr;

    }
}

@media screen and (min-width: 1024px){
        .wideWrapper {
            max-width: 964px;
            margin: auto;
        }
}
/*todo: größen vllt auf 1280 anpassen*/
/*todo: 1500 nochmal separat?*/
@media screen and (min-width: 1280px) {
    .wrapper {
        max-width: 1150px;
        margin: auto;

    }

    #tagline {
        font-size: 52px;
    }

    .gridtest {
        grid-column-gap: 64px;
        grid-row-gap: 64px;
    }

    .box {
        height: 517px;
    }

    .box p {
        max-width: 400px;
    }

    .box h2 {
        max-height: 80%;
        margin: 51px 32px 0 26px;
        font-size: 58px;
    }

    .description {
        margin: 26px 32px 0 26px;
    }

    .course {
        margin: 0 0 0 25px;
        bottom: 23px;
        font-size: 19px;
    }

    #contact h2 {
        font-size: 46px;
    }
    footer p {
    }
}

/*@media screen and (min-width: 1500px) {*/
    /*#wrapper {*/
        /*max-width: 1600px;*/
    /*}*/

    /*.outerWrapper {*/
        /*max-width: 1600px;*/
        /*margin: auto;*/
    /*}*/

    /*#tagline {*/
        /*font-size: 75px;*/
        /*margin: 180px 75px 0 75px;*/

    /*}*/

    /*.box {*/
        /*height: 642px;*/
    /*}*/

    /*.box p {*/
        /*max-width: 500px;*/
    /*}*/

    /*.box h2 {*/
        /*max-width: 500px;*/
        /*max-height: 80%;*/
        /*margin: 60px 37px 0 30px;*/
        /*font-size: 75px;*/
    /*}*/

    /*.description {*/
    /*}*/

    /*.course {*/

        /*margin: 0 38px 0 30px;*/
        /*bottom: 30px;*/
        /*font-size: 23px;*/
    /*}*/

    /*footer p {*/
        /*margin-left: 7%;*/

    /*}*/
/*}*/
