:root {
    --color-main: #3b7bec;
    --color-background: #1b1b1f;
    --color-text: #fbfbfb;
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
}

.active {
    border-bottom: 3px solid var(--color-main);
}

h3 {
    color: var(--color-main);
}

.useCaseExample {
    color: var(--color-text);
}

/*footer: special*/

.special {
    color: var(--color-main);
}

.menu a {
    color: var(--color-main);
}

footer p{
    color: var(--color-text);
}

footer a {
    color: var(--color-text);
}

footer a:hover {
    color: var(--color-main);
}

#contact {
    color: var(--color-text);
}

a:hover {
    color: var(--color-text);
}

